.questions-container {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}

.questions-content {
  flex: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 120px; /* fix error  breaking layout when appearing */
}
.question {
  margin-bottom: 10px;
}
.reply {
  margin-bottom: 10px;
}
.question span {
  font-size: 25px;
}
.regular-input {
  height: 32px;
  width: 280px;
  font-size: 18px;
}
.boolean-label {
  margin-right: 15px;
}
.button {
  height: 40px;
  min-width: 65px;
}
.ok_button {
  margin-right: 7.5px;
}
.enter_text {
  font-size: 10px;
}
.footer {
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
  height: 40px;
  align-items: center;
}
.progress {
}
.progress-count {
  font-size: 12px;
}
.progress_bar-container {
  width: 180px;
  height: 15px;
  background-color: white;
}
.progress_bar {
  background-color: papayawhip;
  height: 100%;
  transition: width 0.8s;
}
.ok_container {
  margin-bottom: 15px;
}
.questions_error {
  color: #ff4136;
  max-width: 400px;
  font-size: 14px;
  min-height: 120px;
}
@media only screen and (max-height: 320px) {
  .questions-content {
    margin-top: 0;
  }
  .questions_error {
    min-height: 0;
  }
}
